.header h1 {
    font-size: 100px; 
    margin: auto;
    width: 706px;
    height: 240px;
    color: white;
    font-weight: 500;
    line-height: 120px;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 168px 80px 0px 80px;
    gap:  120px;
    background-image: url("./images/background-image-hero.svg");
}

.header {
    width: 742px;
    height: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header p {
    color: #8AA2A9;
    margin: auto;
}

.hero .content {
    width: 742px;
    height: 394px;
    gap:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-header-button {
    box-shadow: 0px 0px 40px 0px #FBDF091A;
    background: linear-gradient(90deg, #FBDF06, #FEB700); /* Button background color */
    border: 2px solid rgba(0, 0, 0, 0.05); /* Border color and opacity */
    border-radius: 100px; /* Rounded corners */
    color: black; /* Text color */
    font-size: 16px; /* Text size */
    padding: 20px 32px; /* Padding */
    text-align: center; /* Center text */
    display: inline-flex; /* For centering the icon and text */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-decoration: none; /* Remove underline */
    
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
    font-weight: bold;
    line-height: 24px;
}

.contact-us-header-button:hover {
    box-shadow: 0 0 25px 0 rgba(251, 223, 6, 0.2), 0 0 50px 0 rgba(251, 223, 6, 0.2); /* Slightly stronger shadows on hover */
}

.contact-us-header-button .icon {
    margin-left: 10px; /* Space between text and icon */
}

.hero img {
    width: 100%;
}