#case-studies-wrapper {
    min-width: 100%;
    min-height: 183px;
    background:white;
    padding-top: 168px;
    display:flex;
    justify-content:center;
    align-items: center;
}

#case-studies {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    align-items: center;
    gap: 40px;
    padding: 0px 80px 40px 80px;
}

#case-studies-h3 {
    font-weight: 500;
    font-size: 56px;
    line-height: 67.2px;
    text-align: center;
    margin: auto;
    color: black;
}