@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body, html{
  margin: 0;
  width: 100%;
  height: 100%;
  /* background-color:black; */
}

html * {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 10%;
  filter: blur(40px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, #000000 100%),
radial-gradient(199.16% 100% at 50% 0%, rgba(216, 30, 91, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

.blue-box-container {
  width: 100%;
  height: 720px;
  padding: 0px 80px 64px 80px;
  gap: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 63.63% at 50% 36.37%, rgba(138, 162, 169, 0) 0%, rgba(138, 162, 169, 0.1) 100%);
}

.nav-link-active {
  color:rgba(254, 183, 0, 1) !important;
}

.opacity-50 {
  opacity: 50%;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-weight-400 {
  font-weight: 400;
}

.font-size-16 {
  font-size: 16px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100% !important;
}

.width-auto {
  width: auto;
}